*{
    /* outline: 1px solid red */
}

/* Styling */
html, body{
    height: 100vh;
    margin: 0;
    padding: 0;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: gold;
    display: flex;
    background:#050529
}

.panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
}

div.centerPanel{
    flex-grow: 2;    
}
.playerPanel{
    flex-grow: 1;
    max-width: 300px;
}

div.contentDivider{
    height: 8px;
    width: 85%;
    display: block;
    margin-top: 16px;
    margin-bottom: 16px;
    background: linear-gradient(to bottom, rgb(253, 218, 22) 35%,  rgb(209, 153, 0) 65%);
    clip-path: polygon(
        12px 0%, 
        100% 0%, 
        calc(100% - 12px) 100%, 
        0% 100%
        );
}

#gameBoard{
    margin-top: 4em;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    height: 600px;
    width: 600px;
}

.cell{
    /* width: 5em;
    height: 5em; */
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
}

#reset{
    font-weight: bold;
    color: black;
    font-size: 1.8em;
    margin-top: 1em;
    padding: 0.5em 1.5em;
    border: none;
    border-radius: 0.5em;
    background-color: #57c4ff;
    box-shadow: inset 4px 6px 6px rgba(0, 0, 0, 0.3);
}
#reset:active{
    box-shadow: inset 10px 10px 6px rgba(0, 0, 0, 0.3);
}

.icon{
    font-size: 96px;
    font-weight: bold;
    margin-top: 80px;
}

#playerXNameInput,
#playerONameInput{
    /* display: none; */
    text-align: center;
    width: auto;
}